@{
    ViewData["Title"] = ViewBag.Miembros.NombreGrupo;
    string c = null;

    if (ViewBag.Miembros.NombreGrupo == "FRANcia")
    {
        c = "francia";
    }
    else if (ViewBag.Miembros.NombreGrupo == "Las Sinfonías")
    {
        c = "sinfonias";
    }
    else if (ViewBag.Miembros.NombreGrupo == "BrunoBerman")
    {
        c = "brunoberman";
    }
}

<section class="grupo @(c)">
    <h1 class="grupo-title">@ViewBag.Miembros.NombreGrupo</h1>

    @foreach (Integrante i in ViewBag.Miembros.miembros)
    {
        <div class="member-card">
            <img class="foto" src="@i.Foto" alt="@i.Nombre">
            <div class="datos">
                <h3>@i.Nombre</h3>
                <h4>@@@i.Usuario</h4>
                <h4>"@i.Frase"</h4>
                <h4><strong>Hobby:</strong> @i.Hobby</h4>
                <h4><strong>Profesor Favorito:</strong> @i.ProfeFav</h4>
                <h4><strong>Película Favorita:</strong> @i.PeliculaFav</h4>
            </div>
        </div>
    }
</section>
